#projectname {
    margin-top: 0.3em;
    white-space: normal !important;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.2em;
}

#nav-tree-contents {
    margin-top: 0.9em !important;
}

#side-nav #nav-tree-contents::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--separator-color);

    width: 90%;
    margin: 0px auto 0.8em auto;
}